button{
    margin-right: 10px;
  }
  
  button.active {
    background-color:aqua; /* Blue background for the active button */
    color: white;  /* White text color */
    font-weight: bold; /* Make text bold */
  }
  table.table-bordered td, table.table-bordered th {
    border: 2px solid #007bff; /* Use the primary color for borders */
    /* background-color: aqua; */
    font-size: 16px;
}