.main-page {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  padding: 20px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  background-color: #34495e;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #1abc9c;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: justify;
  /* background-color: #ecf0f1; */
}
.msg-header {
  display: flex;
  flex-direction: column; /* Stacks the image and text vertically */
  align-items: center; /* Centers the items horizontally */
  justify-content: center; /* Centers the items vertically (if needed) */
  text-align: center;
}
.msg-header img {
  width: 50%; /* Make the image fill the width of the parent div */
  height: 50%; /* Make the image fill the height of the parent div */
  object-fit: cover; /* Ensures the image covers the div without distortion */
}
.main-content h1,
.main-content p {
  color: #2c3e50;

}

.main-content ul {
  padding-left: 20px;
  color: #34495e;

}
table, th, td {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;
}